
.orderdetails-top-most-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.orderdetails-inner-container{
  border: 1px solid grey;
  border-radius: 5px;
  width: 85%;
  padding: 20px;
  box-shadow: 2px 2px 3px gray;
}
.orderdetails-container {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ordrdetails-top-header{
  margin-bottom: 40px;
}

.orderdetails-top-box{
  display: flex;
  flex: 1fr;
  justify-content: space-between;
  width: 100%;
  margin-left: 3px;
  
}

.orderdetails-sub-header{
  margin-top: 20px;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
}

.orderdetails-sub-box{
  max-width: 40%;
  width: 35%;
}

.orderdetails-uderinfo-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.orderdetails-user-info-item {
  padding: 10px; /* Padding inside each item */
  text-align: center; /* Center text */
  border-right: 1px solid #ccc; /* Right border */
}

/* Remove the right border from the last item in each row */
.orderdetails-user-info-item:nth-child(3n) {
  border-right: none; /* No right border for the last item in each row */
}

.orderdetails-text-right {
  text-align: right;
}

.orderdetails-font-weight-bold {
  font-weight: bold;
}
