.myorder-main-container{
 position:absolute;
 left: 20%;
}

.myorder-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  border:0.5px solid grey;
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom:20px;
  background-color: #fffbfb;
}

.myorder-details-part1{
  display: flex;
  flex-direction: column;
}

.myorder-details-part2{
  padding: 3px 15px;
  border: 1px solid;
  border-radius: 50px;
  color: aliceblue;
}
.status-placed {
  background-color: #00695c; /* Light Cyan */
  border: 2px solid #e0f7fa; /* Dark Teal */
}

.status-confirmed {
  background-color: #1b5e20; /* Light Green */
  border: 2px solid #c8e6c9; /* Dark Green */
}

.status-pending {
  background-color: #f57f17; /* Light Yellow */
  border: 2px solid #fff9c4 ; /* Dark Yellow */
}

.status-shipped {
  background-color:#0d47a1 ; /* Light Blue */
  border: 2px solid #bbdefb; /* Dark Blue */
}

.status-in-transit {
  background-color:#e65100 ; /* Light Orange */
  border: 2px solid #ffe0b2; /* Dark Orange */
}

.status-out-for-delivery {
  background-color:#880e4f ; /* Light Pink */
  border: 2px solid #f8bbd0; /* Dark Pink */
}

.status-delivered {
  background-color: #33691e; /* Light Lime */
  border: 2px solid #c5e1a5; /* Dark Lime */
}

.status-returned {
  background-color:#bc1818; /* Light Red */
  border: 2px solid #ef9a9a;; /* Dark Red */
}

.status-Cancelled {
  background-color:#eb3737 ; /* Light Grey */
  border: 2px solid #e8cccc; /* Dark Grey */
}

.status-refunded {
  background-color: #827717; /* Light Olive */
  border: 2px solid #f0f4c3; /* Dark Olive */
}

.myorder-arrow-btn{
  background-color: rgb(43, 43, 45);
  font-weight: bolder;
  border: none;
}
.myorder-arrow-btn-link{
  color: rgb(255, 252, 252);
}

.myorder-part1-box{
  margin-right: 10px;
}

.myorder-header{
  text-align: center;
  margin-bottom: 20px;
}

.myorder-id{
  border: 0.5px solid gray;
  border-radius: 10px;
  box-shadow: 1px 1px 2px gray;
  padding: 4px;
  width: 55%;
  display: flex;
  justify-content: center;
}

.myorder-delete-btn{
  background-color: none !important;
}

.myorder-scroll-container {
 height: 400px; /* Set a maximum height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px; /* Optional: Add some padding */
}
