
.changepassword-main{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.changepassword-container {
  width: 35%;
  padding: 20px;
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 2px gray;
}

.changepassword-header{
  margin-bottom: 20px;
}

.changepassword-inputbox{
  margin-bottom: 10px;
}
.changepassword-btn{
  margin-top: 15px;
}
