.myaccount-container {
  display: flex; /* Use flexbox for layout */
  height: 100vh; /* Full height of the viewport */
}

.myaccount-content {
  margin-left: 220px; /* Space for the sidebar */
  padding: 20px; /* Padding around the content */
  flex-grow: 1; /* Allow content to grow and fill available space */
   /* White background for content area */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}