.profile-container {
  max-width: 600px;
  margin: auto;
}

.profile-card {
  margin-top: 20px;
  border: 0.5px solid gray;
  box-shadow: 3px 3px 5px rgb(161, 158, 158);
}

.profile-card-header {
  text-align: center;
  margin-top: 25px;
}

.profile-edit-btn {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40%;
  padding: 8px 5px;
  margin-left: 30%;
  border-radius: 5px;
  border-color: #ff084e;
  border: 1px solid !important;
}

.profile-save-btn {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 80%;
  padding: 8px 5px;
  margin-left: 65%;
  border-radius: 5px;
  border-color: #ff084e;
  border: 1px solid !important;
}

.profile-card-body {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
}

.profile-user-details {
  border: 1px solid #a2a2a2;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 6px 12px;
  background-color: #f8f9fa;
}
