/* ResetPassword.css */

.reset-password-outer-container{ 
height: 80vh;
}

.reset-password-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.reset-password-container > h2 {
  text-align: center;
  margin-bottom: 20px;
}

.reset-password-container .form-group {
  margin-bottom: 15px;
}

.reset-password-btn {
  width: 100%;
}