/* ----------------------
  :: 14.0 Footer Area CSS
  ---------------------- */

  .footer_area {
    background-color: #fff;
    border-top: 2px solid #e5e5e5;
    padding: 70px 0 50px;
  }
  
  .footer_content > p {
    font-size: 14px;
  }
  
  .footer_content > p:first-child {
    margin-bottom: 30px;
  }
  
  .footer_social_area > a {
    display: inline-block;
    font-size: 26px;
    padding: 0 30px;
  }
  
  .footer_social_area > a:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    color: #ff084e;
  }
  
  .footer_widget_menu a {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: capitalize;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    font-weight: 600;
  }
  
  .footer_widget_menu a:hover {
    margin-left: 5px;
  }
  
  .footer_widget_menu a i {
    padding-right: 5px;
  }
  
  .subscribtion_form {
    position: relative;
    z-index: 1;
  }
  
  .subscribtion_form .mail {
    border: none;
    border-radius: 0;
    font-size: 12px;
    height: 50px;
    padding: 5px 15px;
    width: 100%;
    background-color: #f0eded;
    color: #929191;
    font-style: italic;
  }
  
  .subscribtion_form .submit {
    background-color: #3a3a3a;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 50px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    padding: 0 30px;
    font-weight: 700;
    width: 30%;
  }
  
  .subscribtion_form .submit:hover {
    background-color: #ff084e;
    color: #fff;
  }
  
  .copywrite_text > p {
    color: #9f9f9f;
    font-size: 14px;
    margin-top: 30px;
    display: block;
  }