/* Sidebar.css */
.myaccount-sidebar {
  width: 250px; /* Fixed width for the sidebar */
  background-color: rgb(255, 252, 252); /* Light gray background */
  padding: 20px; /* Padding around the content */
  border-right: 1px solid #ccc; /* Right border for separation */
  height: 100vh; /* Full height of the viewport */
  position: absolute; /* Fixed position to stay in view */
}

.myaccount-sidebar-container {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
}

.myaccount-list {
  margin: 10px 0; /* Space between list items */
  display: flex;
}

.myaccount-list-img {
  height: 27px;
  width: 27px;
  margin-right: 8px;
}

.myaccount-list-link {
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Dark text color */
  display: flex; /* Make the link fill the list item */
  justify-content: left;
  align-items: center;
  padding: 10px; /* Padding for clickable area */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.myaccount-link:hover {
  color: #ff084e; /* Change text color on hover */
  background-color: rgba(255, 240, 240, 0.5); /* Light background on hover */
}

.myaccount-list-link.active {
  background-color: #efbbca; /* Background color for active link */
  color: #fff; /* Change text color for active link */
}

.myaccount-logout-btn {
  display: flex; /* Make the link fill the list item */
  justify-content: center;
  align-items: center;
}

.myaccount-logout-btn > a {
  padding: 7px 20px;
  color: white; /* Text color for logout button */
  background-color: #dc3545; /* Bootstrap danger color */
  border-radius: 4px; /* Rounded corners */
  text-decoration: none; /* Remove underline from links */
}

.myaccount-logout-btn > a:hover {
  background-color: #c82333; /* Darker shade on hover */
  border-color: #c82333; /* Darker border on hover */
}
