/* Sidebar.css */
.myaccount-sidebar {
  width: 200px; /* Fixed width for the sidebar */
  background-color: #f4f4f4; /* Light gray background */
  padding: 20px; /* Padding around the content */
  border-right: 1px solid #ccc; /* Right border for separation */
  height: 100vh; /* Full height of the viewport */
  position: absolute; /* Fixed position to stay in view */
}

.myaccount-sidebar-container {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
}

.myaccount-list {
  margin: 10px 0; /* Space between list items */
}

.myaccount-list-link {
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Dark text color */
  display: flex; /* Make the link fill the list item */
  justify-content: center;
  align-items: center;
  padding: 10px; /* Padding for clickable area */
  border-radius: 4px; /* Rounded corners */
}

.myaccount-list-link:hover{
  background-color:  #ff084e; /* Change background on hover */
  color: white; /* Change text color on hover */
}