
.login-main{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container {
    width: 25%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btnSignUp{
    color: #ff084e;
        &:hover{
            color: #3a3a3a;
        }
}

.btnLogin{
    margin-left: 0%;
}

.loginFooter{
    display: flex;
    justify-content: space-between;   
    align-items: center; 
    margin-top: 10px;
}
