/* styles.css */
.forgot-password-container{
  height: 80vh;
}

.forgot-password-card{
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forgot-password-card-footer a {
  color: #ff084e;
  &:hover{
      color: #3a3a3a;
  }
}

.forgot-password-inner-container{
  margin-top: 60px;
}
